.admin-header {
    background-image: url('../../public/images/AdminDashBoard.png');
    background-size: cover;
    height: 40vh;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.admin-content {
    padding-top: 5vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-count-box {
    padding: 40px;
    background-color: grey; 
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    max-width: 1000px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; 
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
}

.user-count-box:hover {
    background-color: #a3c2c2; /* Màu nền khi hover */
}

.user-count-text {
    flex-grow: 1; /* Để chiếm hết khoảng trống giữa các phần tử con */
}

.user-count-text h3{
    color: white;
}

.user-count-button {
    padding: 10px 20px;
    background-color: #5F9EA0; /* Màu nền nút */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.user-count-button:hover {
    background-color: #E79A31; /* Màu nền nút khi hover */
}

.user-icon {
    width: 100px; /* Đặt kích thước biểu tượng người dùng */
    height: 100px;
    margin-right: 20px;
}

.blank-div {
    height: 50vh;
}